.main-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  padding-top: 45px;
  font-weight: 700;
  font-size: 5.7vw;
  min-height: 90vw;
  background-image: url(../../img/reduslim-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: 63% 85%;

  @media (min-width: $tablet-width) {
    grid-column: span 6;
    flex-direction: column;
    min-height: 500px;
    margin: 0;
    padding: 43px 40px 37px;
    font-size: 18px;
    color: $white;
    background-color: $green;
    background-image: url(../../img/reduslim-desktop@2x.png);
    background-size: 179% auto;
    background-position: 18% calc(79% + 3.7vw * 2)
  }

  @media (min-width: $desktop-width) {
    background-position: 18% 50%;
  }
}

.main-header__name,
.main-header__type {
  font-size: inherit;
  margin: 0;
}

.main-header__type {
  text-transform: uppercase;
}

.main {
  grid-column: span 6;
  padding-bottom: 28px;
  background-color: $white;
}

.form__header {
  text-align: center;
  margin-bottom: 29px;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding: 29px 72px;
    background-color: $grey;
    border-top-right-radius: 30px;
  }
}

.form__caption {
  margin: 0;
  font-size: 9.5vw;
  line-height: 11.6vw;
  letter-spacing: 0.2px;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.4px;
    font-size: 30px;
    line-height: 39px;
  }
}

.form__caption span:first-of-type {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form__caption span:last-of-type {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__main {
  margin-bottom: 12px;
}

.form__main,
.form__footer {
  @media (min-width: $tablet-width) {
    max-width: 900px;
    margin: 0 auto;
    padding: 21px 123px 19px 117px;
  }
}

.form__footer {
  padding-top: 0;
}

.form__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  &--name {
    flex-grow: 1;
    width: 100%;
  }

  ;

  &--tel {
    width: 62%;
  }

  &--country {
    --country-flag-url: url(../../img/country-7.png);
    position: relative;
    min-width: 34%;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;

    &--tel {
      width: 58%;
    }

    &--country {
      min-width: 36%;
    }
  }
}

.form__item--country::after,
.form__item--country::before {
  content: ' ';
  position: absolute;
}

.form__item--country::before {
  width: 27px;
  height: 18px;
  top: 17px;
  right: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--country-flag-url);

  @media (min-width: $tablet-width) {
    right: 37px;
  }
}

.form__item--country::after {
  width: 8px;
  height: 8px;
  top: 20px;
  right: 9px;
  border-left: 2px solid $black;
  border-bottom: 2px solid $black;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    right: 20px;
  }
}

.form__label {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.form__label span {
  color: $green;
}

.form__item input,
.form__item select {
  font-size: 14px;
  padding: 16px 10px;
  border: 1px solid $middle-grey;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    padding: 16px 20px;
  }
}

.form__country-select {
  padding-top: 15px;
  appearance: none;
  line-height: 18px;
  --country-flag-code: 7;

  @media (min-width: $tablet-width) {
    padding: 15px 5vw;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 20px;
  }
}

.form__submit-button {
  width: 100%;
  padding: 13px;
  color: rgba(255, 255, 255, 1);
  background-color: $green;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
}

.form__submit-button svg {
  margin-left: 5px;
}

.main-footer {
  grid-column: 1 / -1;
  background-color: $grey;
  margin: 0 -6.5vw;

  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}

.main-footer__list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 11px 56px;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../../img/icon-lock.svg);
    width: 12.14px;
    height: 15px;
    left: 49%;
  }
}
