.wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: repeat(6, 1fr);
  align-content: start;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  margin: 60px auto;
  padding: 0 6.4vw;
  background-color: #ffffff;
  box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 960px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    max-width: 1120px;
    min-height: 500px;
    // padding: 75px 80px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
