/* Viewports */
$tablet-width: 612px;
$desktop-width: 1280px;

/* Fonts */
$montserrat: "Montserrat", "Arial", sans-serif;

/* Colors */
$white: #FFFFFF;
$light-grey: #F4F4F4;
$middle-grey: #E4E4E4;
$grey: #F8F8F8;
$green: #428A60;
$black: #212121;
